<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Asurea</title>
      {% endif %}
    </head>
    <body>
        <div><a href="{{url_for('index')}}">Home</a></div>
        <div><a href="{{url_for('about')}}">About</a></div>
        <div><a href="{{url_for('plans')}}">Plans</a></div>
        <div><a href="{{url_for('contact')}}">Contact</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
